<!DOCTYPE html>
<html lang="en">

<head>
  <title>icepixel</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="content">
    <div id="start">
      <h1 id="title">icepixel</h1>
      <h3 id="description">A game.</h3>
      <div id="form-containter" align="center">
        <form id="form">
          <input id="m" placeholder="Username" />
          <div id="m-separator"></div>
          <select id="s">
          </select>
          <div id="m-separator"></div>
          <button id="j" class="submit">Join</button>
          <div id="m-separator"></div>
        </form>
        <div id="head-separator"></div>

      </div>

      <div id="notify-box">
      </div>
    </div>
  </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="js/engine.js"></script>
<script src="js/main.js"></script>

</html>
